Django==4.2
psycopg2-binary
djangorestframework
django-cors-headers
python-decouple
celery
redis
groq
Pillow
django-filter
drf-yasg
djangorestframework-simplejwt
dj-rest-auth
gunicorn
whitenoise
dj-database-url
django-ratelimit
pytest
pytest-django
pytest-cov
factory-boy
